NEXT_PUBLIC_WAITLIST_ENDPOINT=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_SHEET_NAME=Waitlist
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
WAITLIST_FROM_EMAIL=admin@zirccle.com
GMAIL_USER=
GMAIL_APP_PASSWORD=
